body{
    background-color: antiquewhite;
}

h2{
    background-color:rgb(180, 148, 125);
    color: white;
    font-family: Tsukushi A Round Gothic;
    border-radius: 5px;
    border: solid 2px white;
    display: inline-block;
    padding: 5px 13px;
}

.hako{
    display: block;
    margin: auto;
}

.off{
    display: none;
}

.input-button{
    font-family: Tsukushi A Round Gothic;
}

#result-area{
    font-family: Tsukushi A Round Gothic;
}

.card-header{
    font-size: 25px;
}

.card-body{
    font-size: 17px;
}

#result-area{
    margin: 10px;
}

.test{
    display: inline;
    font-family: Tsukushi A Round Gothic;
}

#one-more{
    width: 150.16px;
}