body{
    background-color: antiquewhite;
}

h2{
    background-color:rgb(180, 148, 125);
    color: white;
    font-family: Tsukushi A Round Gothic;
    margin-left: 90px;
    margin-right: 90px;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px white;
}

.off{
    display: none;
}

.input-button{
    font-family: Tsukushi A Round Gothic;
}

#result-area{
    font-family: Tsukushi A Round Gothic;
}

.card-header{
    font-size: 25px;
}

.card-body{
    font-size: 17px;
}

#one-more{
    font-family: Tsukushi A Round Gothic;
}